<div class="info">
  $partial("templates/talkinfo.html")$
</div>
<div class="meta">
  <span class="tldr">tl;dr:</span> $description$
  <br/>
  $if(manual-slides)$<a href="$manual-slides$">Slides</a>
  $else$
  $if(slides)$<a href="/$slides$">Slides (auto generated)</a>$endif$
  $endif$
</div>
<br/>
$body$
